html{
    text-align: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
body {
    background: #f6e8b7;
    color: rgb(88, 58, 27);
}
.text {
    background: #1c1f27;
}
button {
    background: #1c1f27;
    border-color: azure;
    color: #eae253;
    font-family: "Courier New";
    width: 70px;
    height: 40px;
    transform:translate(0px, -60px);
    
}

img {
    margin-top: 10px;
    object-fit:scale-down;
}

.wrapperTwo {
    width: 700px;
    height: 160px;
    border: solid black 0px;
    display: flex;
    position: relative;
    left: 140px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}