* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  }
  
body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  }

h1 {
    color: goldenrod;
    text-align: center;
}

h3 {
  color: aliceblue;
}

img {
   float: left;
   position: relative;
}

ol {
    background: #ff9999;
    padding: 20px;
    width: 40%;
    border-radius: 25px;
  }
  
  ol li {
    background: #ffe5e5;
      padding: 5px;
      margin-left: 35px;
      text-align: center;
  }


  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    height: 70px;
  }
  
  td {
    text-align: center;
  }

  .dropbtn {
    background-color: darkgoldenrod;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: gold;
}
.hcolor {
    color: goldenrod;
}

.pos {
    margin-left: 580px;
    color: goldenrod;
}
.picture {
    position: relative;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    width: 80%;
    border-radius: 19px;
}

.list {
    float: left;
}

.link {
    display: block;
    color: darkgoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover {
  background-color: blanchedalmond;
}

#itable {
    color: lightcoral;    
  }