* {
    box-sizing: border-box;
  }

  html {
    font-family: Verdana, Helvetica, Arial, sans-serif;
  }

  body {
    background-color: bisque;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* делаем элементы списка невыбираемыми */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Установить все нечетные элементы списка в другой цвет (чередование) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  

  ul li:hover {
    background: #ddd;
  }
  

  ul li.checked {
    background: peachpuff;
    color: #fff;
    text-decoration: line-through;
  }
  

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: palevioletred;
    color: white;
  }
  

  .header {
    background-color: peru;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  

  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  

  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: goldenrod;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: yellow;
  }

  a {
    color: bisque;
  }

  a:hover {
    color:aqua;
  }

  a:visited {
    color:lightcoral;
  }

  a:active {
    color: violet;
  }